.one {
    background-color: blueviolet;
    color: white;
    text-align: center;
    border: 3px dotted #000;
}  

#my_id {
    background-color: #FEA1A1;
    color:#ECCDB4;
}

p {
    background-color:#4C4C6D ;
    color: #1B9C85;
}
 
h1 {
    color: #000;
}